
/* Main top level variables */

@media (prefers-color-scheme: dark) { 
    :root {
        --dark-theme: 1;
    }
}
@media (prefers-color-scheme: light) { 
    :root {
        --dark-theme: 0;
    }
}

/* Default rules for stylesheet */

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--text-color);
}

html {
    background-color: var(--bg-color);
}

:root {
    --bg-color: hsl(0, 0%, var(--bg-luminance));
    --text-color: hsl(0, 0%, var(--text-luminance));
}

input, button {
    background-color: var(--text-color);
    color: var(--bg-color);
}

button {
    border: 2px inset grey;
}

svg {
    width: 100%;
    height: 100%;
}

/* Theme rules */
/* 
Not supported in firefox unfortunately :(
https://developer.mozilla.org/en-US/docs/Web/CSS/@container#browser_compatibility 
Therefore do it using a scuffed calc method
*/

/* @container style(--theme: light) {
    .main-border, .secondary-border {
        --border-luminance: 30%;
    }

    :root {
        --bg-luminance: 90%;
        --text-luminance: 10%;
        --error-luminance: 30%;
        --correct-luminance: 30%;
    }
}

@container style(--theme: dark) {
    .main-border, .secondary-border {
        --border-luminance: 90%;
    }

    :root {
        --bg-luminance: 10%;
        --text-luminance: 90%;
        --error-luminance: 70%;
        --correct-luminance: 70%;
    }

} */

.main-border, .secondary-border {
    --border-luminance: calc(1% * (var(--dark-theme) * 60 + 30));
}

:root {
    --bg-luminance: calc(1% * ((1 - var(--dark-theme)) * 80 + 10));
    --text-luminance: calc(1% * (var(--dark-theme) * 80 + 10));
    --error-luminance: calc(1% * (var(--dark-theme) * 40 + 30));
    --correct-luminance: calc(1% * (var(--dark-theme) * 40 + 30));
}

/* CSS classes to add to elements */

.main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-text {
    font-size: 60px;
}

.hidden {
    visibility: hidden;
}

.main-border, .secondary-border {
    border: 30px solid transparent;
    padding: 20px;
    border-radius: 20px;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    
    background-image:
        linear-gradient(var(--bg-color), var(--bg-color)), 
            linear-gradient(45deg, hsl(var(--color-1), 100%, var(--border-luminance)), 
                hsl(var(--color-2), 100%, var(--border-luminance)));
}

.main-border {
    --color-1: 180;
    --color-2: 120;
}

.secondary-border {
    --color-1: 60;
    --color-2: 0;
}

.min-width-800 {
    width: 800px;
}

.width-500 {
    width: 500px;
}

.centre-text {
    text-align: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-start {
    align-items: start;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.space-between {
    justify-content: space-between;
}

.text-left {
    text-align: left;
}

.flex-grow {
    flex-grow: 1;
}

.gap-10 {
    gap: 10px;
}

.border-small {
    border: 2px solid var(--text-color);
}

.padding-5 {
    padding: 5px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.display-none {
    display: none;
}

.icon {
    width: 100px;
    height: 100px;
}

.correct-background {
    background-color: hsl(123, 100%, var(--error-luminance));
}

.incorrect-background {
    background-color: hsl(352, 100%, var(--correct-luminance));
}

.error-message {
    background-color: hsl(0, 100%, var(--error-luminance));
    color: var(--bg-color);
    align-self: flex-start;
    padding: 5px;
}

.opacity-30 {
    opacity: 0.3;
}

.opacity-80 {
    opacity: 0.8;
}

.blank-background {
    background-color: transparent;
    border: 0px;
}

.text-color {
    color: var(--text-color);
    font-size: 30px;
}

.round-border {
    border: 3px solid var(--text-color);
    border-radius: 40px;   
}

.position-absolute {
    position: absolute;
}

.z-index-1 {
    z-index: 1;
}

/*
Nav related stuff
*/

.nav-circle {
    clip-path: ellipse(35px 25px);
    width: 70px;
    height: 50px;
    display: block;
    text-align: center;
    align-content: center;
    background-color: var(--text-color);
    color: var(--bg-color);
    position: absolute;

    animation: fade-nav-in 0.5s ease-out forwards;
}

.first-nav-circle {
    --left-pos: 75px;
    --top-pos: -60px;
}

.second-nav-circle {
    --left-pos: 70px;
    --top-pos: -0px;
}

.third-nav-circle {
    --left-pos: -5px;
    --top-pos: 10px;
}

@keyframes fade-nav-in {
    0% {
        opacity: 0;
        left: 0px;
        top: -50px;
    }

    100% {
        opacity: 100%;
        left: var(--left-pos);
        top: var(--top-pos);
    }
}

